.gradient-border{
    position: relative;
    border-bottom: 1px solid #e2e8f0;
}
.gradient-border:focus{
    outline: none;
    border-bottom: 2px solid transparent;
    border-image : linear-gradient(to right, #fb9678, #fb9678);
    border-image-slice: 1;
}