ul,ol{
    list-style: none;
    padding: 0;
}
a{
    text-decoration: none;
    color: #6c757d;
}
.btn1{
    display: block !important;
    color: white !important;
    padding: 5px 25px !important;
    letter-spacing: 1px !important;
    border: 1px solid white !important;
    font-weight: 700 !important;
    font-size: 16px !important;
}
.btn1:hover{
    background-color: white !important;
    color: #01C0C8 !important;
}